---
import GridItem from "../base/GridItem.astro";
import { projects } from "../../content/resume.json";

const { class: className, ...rest } = Astro.props;

---

<GridItem class:list={["section-projects", className]} {...rest}>
    <h2>Proyectos</h2>
    <ul class="projects-list">
        {
            projects.map(({ name, startDate, endDate, description, highlights, url }) => (
                <li class="project-card">
                    <a href={url} target="_blank" rel="noopener noreferrer">
                        <header class="project-header">
                            <h3 class="project-name">{name}</h3>
                            <time class="project-date">
                                {startDate} - {endDate}
                            </time>
                        </header>
                        <p class="project-description">{description}</p>
                        <footer class="project-footer">
                            <ul class="project-highlights">
                                {highlights.map((highlight) => (
                                    <li>{highlight}</li>
                                ))}
                            </ul>
                        </footer>
                    </a>
                </li>
            ))
        }
    </ul>
</GridItem>

<style>
    .section-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .projects-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .project-card a {
        display: block;
        padding: 1rem;
        background-color: #f3f4f6; /* Un gris claro de fondo */
        border-radius: 0.75rem; /* Bordes redondeados */
        text-decoration: none;
        color: inherit;
        transition:
            transform 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
    }

    .project-card a:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.5rem;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }

    .project-name {
        font-size: 1.125rem; /* 18px */
        font-weight: 600;
        margin: 0;
    }

    .project-date {
        font-size: 0.875rem; /* 14px */
        color: #6b7280; /* Un gris más oscuro para el texto secundario */
    }

    .project-description {
        font-size: 1rem; /* 16px */
        margin: 0 0 1rem 0;
    }

    .project-highlights {
        list-style-type: "✔ ";
        padding-left: 1.25rem;
    }
</style>